body{
    font-family: 'segoe UI', sans-serif;
    background: linear-gradient(45deg, #f0f4f8, #121213);
    margin: 0;
    padding: 0;

}
.box {
    padding: 10px;
    background-color: #31363b;
    color: white;
    border-radius: 8px;
    margin-bottom: 20p;
}
h1 {
    color : pink;
    font-family: Georgia, serif;
    }
h2 {
    color: pink;
    padding: 5px;
    border-radius: 4px;
}
span{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px 6px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}
th, td{
    padding: 8px;
    border: 1px solid #ccc;
    /*text-align: center;*/
}
th{
    background-color: rgb(240, 238, 238);
    text-align: center;
}
.numbers{
    padding: 2rem;
    background-color:white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0, 0.15);
    text-align:center;
    }
button{
    padding: 0.1px;
    background-color: rgb(71, 57, 39);
    color: azure;
    border-radius: 0.1px;
    cursor: pointer;
    font-weight: bolder;
}
#output{
    font-size: 1.2rem;
    margin-top: 1rem;
}
footer{
    text-align: center;
    padding: 15px;
    color: #888;
    font-size: 0.9em;
}